[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-restx = "*"
bcrypt = "*"
pyjwt = "*"
flask-migrate = "*"
flask-cors = "*"
gunicorn = "*"
psycopg2 = "*"
pylint = "*"

[dev-packages]

[requires]
python_version = "3.9"
